<div class="container">
  <div class="row">
    <div class= "order-content clearfix">
      <%= form_for [:admin, @order] do |f| %>
        <h3>Order#<%= @order.id %></h3>
        <div class="order-detail">
          <%= render partial: "shared/order-detail" , locals: { order: @order } %>
        </div>

        <div class="order-status">
          <div class="col-md-6">
            <p>Payment Status: <%= f.select :payment_status, Order::PAYMENT_STATUS %></p>
            <p>Shipping Status: <%= f.select :shipping_status, Order::SHIPPING_STATUS %></p>
            <%= f.submit %>
          </div>
        </div>
      <% end %>
    </div>    
  </div>
</div>
