<div class="container">
   <h1>order後台</h1>
   <div class="row">
     <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Price</th>
            <th>Payment status</th>
            <th>Shopping status</th>
            <th>Order Detail</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <th scope="row"><%= order.sn %></th>
            <td><%= order.order_items.price %></td>
            <td><%= order.payment_status %></td>
            <td><%= order.shopping_status %></td>
            <td>
              <%= link_to 'Edit', edit_admin_order_path(order) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
       <div class="text-center">
        <%= paginate @orders %>
      </div>
     </div>
   </div>
</div>