<div class="cart-item product-<%= item.product.id %> clearfix">
  <div class="col-sm-6 col-md-4">
    <%= show_product_picture item.product %>
  </div>

  <div class="col-sm-6 col-md-8">
    <p><%= item.product.name %></p>
    <p>$ <%= item.product.price %></p>
    <div class="cart-item-adjust">
      <%= link_to '+', adjust_item_product_path(item.product, type: "add"), method: :post, remote: true %>
      <span class="cart-<%= item.product.id %>-qty"><%= item.quantity %></span>  
      <%= link_to '-', adjust_item_product_path(item.product, type: "substract"), method: :post, remote: true %>
      <!----ink_to 不可以省略method: :post ，button_to可以----->  
      <%= button_to remove_from_cart_product_path(item.product), remote: true, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>
</div>