<div class="col-md-6">
  <div class="orderitems-list">
    <table class="table table-striped">       
      <tbody>
        <% order.order_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td>$ <%= item.price %></td>
        </tr>
          
        <% end %>
      </tbody>               
      <tbody> 
        <tr>
          <th><p>Subtotal</p></th>
          <th></th>
          <th>$ <%= order.amount %></th>                       
        </tr>                                                              
      </tbody>
    </table>
  </div>

  <div class="shopping_info">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-info">Shopping Information</li>
      <li class="list-group-item">Name: <%= order.name %></li>
      <li class="list-group-item">Phone: <%= order.phone %></li>
      <li class="list-group-item">Address: <%= order.address %></li>
    </ul>                
  </div>
</div>
