<div class="container">
  <div class="row">
    <% @orders.each do |order|%>
      <div class="panel panel-order clearfix">
        <%= form_for [:admin, order] do |f| %>
          <h3>Order#<%= order.sn %></h3>
          <div class="order-detail">
            <%= render partial: "shared/order-detail", locals: { order: order } %>
          </div> 
          <div class="order-status">
            <div class="col-md-6">
              <p>Payment Status: <%= order.payment_status %></p>
              <p>Shipping Status: <%= order.shipping_status %></p>
              <% if order.payment_status == "not_paid" && order.shipping_status != "cancelled" %>
                <%= link_to "Pay now", checkout_spgateway_order_path(order), method: :post, class: "btn btn-info" %>
              <% end %>
              <% if order.shipping_status == "not_shipped" %>
                <%= link_to "Cancell Order", order_path(order), method: :patch, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>  
    <% end %>  
  </div>
</div>
