<div class="container">
  <div class="row">
    <div class="cart-list">
      <h4>Shipping List</h4>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr class="product-<%= item.product.id %>" >
              <th scope="row">
                <%= show_product_picture item.product %>
              </th>
              <td><%= item.product.name %></td>
              <td><%= item.product.price %></td>
              <td>
                <%= link_to '+', adjust_item_product_path(item.product, type: "add"), method: :post, remote: true %>
                </br> 
                <span class="cart-<%= item.product.id %>-qty"><%= item.quantity %></span> 
                </br> 
                <%= link_to '-', adjust_item_product_path(item.product, type: "substract"), method: :post, remote: true %>
              </td>

              <td>
                <span class="total-<%= item.product.id %>-count"><%= item.item_total %></span>
              </td>

              <td>
                <%= link_to 'Delete', remove_from_cart_product_path(item.product), method: :post, remote: true %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td>Subtotal</td>
            <td></td>
            <td><p class="amount">$ <%= current_cart.subtotal %></p></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="shipping-information">
      <h4>Shipping information</h4>
      <% if @order.errors.any? %>
        <h4>We have some errors here !</h4>
        <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <hr>
      <% end %>

      <%= form_for @order do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phone, "Phone" %>
          <%= f.text_field :phone, class: "form-control" %>
        </div>     

        <div class="form-group">
          <%= f.label :address, "Address" %>
          <%= f.text_area :address, class: "form-control" %>
        </div>
        
         
        <%= f.submit "CHECKOUT", class: "btn btn-default" %>
        
      <% end %>
    </div>
  </div>
</div>