<div class="container">
  <h3>後台</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <%= link_to 'Products', admin_products_path, class: "btn btn-primary" %>
        <%= link_to 'Orders', admin_orders_path, class: "btn btn-default" %> 
        <%= link_to 'Users', admin_users_path, class: "btn btn-default" %>
      </div>
      </br>
      <div>
        <%= link_to 'New Product', new_admin_product_path, class: "btn btn-primary" %>

        <%= search_form_for @q, url: admin_products_path do |f| %>
          <%= f.label  :name_cont %>
          <%= f.search_field :name_cont %>
          <%= f.submit %>
          
        <% end %>
      </div>
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="order-link">
            <th><%= sort_link(@q, :id, 'Id', default_order: :asc) %></th>
            <th><%= sort_link(@q, :name, 'Name', default_order: :asc) %></th>
            <th><%= sort_link(@q, :price, 'Price', default_order: :asc) %></th>
            <th><%= sort_link(@q, :sold_count, 'Sold Amount', default_order: :asc) %></th>
            <th>#</th>
          </tr>
        </thead>
        <tbody id="products">
          <%= render partial: "products", collection: @products, as: :product %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>