<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-9">
      <%# search %>
      <%= form_tag(products_path, method: :get, class: "form-inline") do %>
        <div class="form-group">
          <%= label_tag :name, "Search" %>
          <%= text_field_tag :name %>
        </div>

        <%= button_tag(type: "submit", class: "btn btn-default btn-sm") do %>
          <span><i class="glyphicon glyphicon-search"></i></span>
        <% end %>
      <% end %>

      <%# products %>
      <div id="products" class="clearfix">
        <%= render partial: "shared/products", collection: @products, as: :product %>
      </div>
      
      <div class="text-center">
        <%= paginate @products %>
      </div>
    </div>    

    <%# cart %>
    <div class="col-sm-6 col-md-3">
      <%= render partial: "shared/cart" %>
    </div>
  </div>
</div>
