<div class="container">
  <div class="row">

    </br>
    <div class="col-sm-6 col-md-9">
      <div id="products" class="clearfix">
        <% @products.each do |product| %>
        <div class="hidden-xs">
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="product-box product_<%= product.id %>">
              <%= link_to product_path(product) do %>
                <% if product.image? %>
                  <%= image_tag product.image.url, class: "img-responsive center-block" %>
                <% else %>
                  <span class="glyphicon glyphicon-picture"></span>
                <% end %>
              <% end %>

              <div class="caption">
                <h4><%= link_to product.name, product_path(product) %></h4>
                <p><%= truncate(product.description, length: 17) %></p>
                <p>$ <%= product.price %><p>
                  <div class="add-to-cart">
                    <%= button_to 'add to cart', add_to_cart_product_path(product), remote: true, class: "btn btn-default" %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      

      <div class="text-center">
        <%= paginate @products %>
      </div>
    </div>    

    <div class="col-sm-6 col-md-3">
      <%= render partial: "shared/cart" %>
    </div>
  </div>
</div>
