<div class="container">
  <div class="row">

    </br>

    <% @products.each do |product| %>
      <div class="hidden-xs">
        <div class="col-sm-4 col-md-3">
          <div class="product-item">
            <%= link_to product_path(product) do %>
              <% if product.image? %>
                <%= image_tag product.image.url, class: "img-responsive center-block" %>
              <% else %>
                <span class="glyphicon glyphicon-picture"></span>
              <% end %>
            <% end %>

            <div class="caption">
              <h4><%= link_to product.name, product_path(product) %></h4>
              <p><%= truncate(product.description, length: 20) %></p>
              <p>$ <%= product.price %><p>
              <p>add to cart<p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <%= paginate @products %>
    </div>

  </div>
</div>
